.explore__container {
  display: flex;
}

.map-view,
.list-view {
  width: 50px;
  text-align: center;
  border-radius: 2px;
}

.map-view {
  background: skyblue;
}

.list-view {
  background: white;
}
