.explore__toggle {
  display: flex;
}

.explore__toggle__map,
.explore__toggle__list {
  width: 50px;
  text-align: center;
  border-radius: 2px;
}

.explore__toggle__map{
  background: skyblue;
}

.explore__toggle__list{
  background: white;
}
