@import url('./styles/fonts.css'); 
@import url('./pages/explore/explore.css');
@import url('./pages/coasters/coasters.css');
@import url('./pages/home/home.css');
@import url('./pages/parks/parks.css');
@import url('./components/explore-toggle/explore-toggle.css');
@import url('./components/search/search.css');
@import url('./components/footer/footer.css');
@import url('./components/header/header.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Vision-Regular';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app__gradient {
  background: linear-gradient(49.79deg, #3494E6 0%, #EC6EAD 100%);
  z-index: -2;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#root,
.app {
  height: 100%;
  width: 100%;
}

.app__body {
  position: absolute;
  top: 60px;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
}
