@import url('./styles/fonts.css'); 

body {
  margin: 0;
  padding: 0;
  font-family: 'Vision-Regular';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#root,
.app {
  height: 100%;
  width: 100%;
}

.app__body {
  position: absolute;
  top: 60px;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
}
